    table thead{font-size: 14px;}
    table tbody{font-size: 12px;}
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    table td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .bi-table ::-webkit-scrollbar {
        width: 8px;
        background-color: rgb(224, 224, 224);
    } 

    .bi-table ::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
    }

    .bi-table table thead th{
        /*background-color: rgb(103, 103, 103);*/
        background-color: black;
        text-align: left;
        color: white;
    }   
    .icon-arrow-default,
    .icon-arrow-down,
    .icon-arrow-up{
        vertical-align: middle;
        padding-left:4px;
    } 
    .TDclickable{cursor:pointer;}

    .clearfix:after {
        content: "";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }

    .table-toolbar {
        height: auto;
        padding-bottom: 6px;
        padding-right: 6px;
    }

    .filter-column {
        position: relative;
        margin-left: 30px;
        float: right;
        font-size: 12px;
    }

    .column-series {
        position: absolute;
        top: 26px;
        right: 0;
        z-index: 10;
        background-color: white;
        width: 120px;
        border: 1px solid #ddd;
        border-radius: 6px;
        display: none;
    }

    .column-series li {
        height: 40px;
        line-height: 40px;
        text-indent: 10px;
    }

    .search-box {float: left;}

    .icon-search {
        font-size: 14px;
    }

    .search-input {
        width: 210px;
        height: 20px;
        padding-left: 6px;
        margin-left: 6px;
        outline: none;
        border:1px solid gray;
        border-radius: 10px;
    }

    .sort-by {
        width: auto;
        float: right;
        margin-left: 30px;
        margin-right: -6px;
        font-size:12px;
    }

    .selection {
        display: inline-block;
        position: relative;
        z-index: 100;
        margin-left: 10px;
    }

    .sort-selected {
        display: inline-block;
        height: 24px;
        cursor: pointer;
    }

    .selected-value {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        text-indent: 6px;
        width: 94px;
    }

    .select-ul {
        background-color: gray;
        text-indent: 10px;
        position: absolute;
        top: 24px;
        display: none;
        font-size: 
    }
    .select-ul ul {
        margin-bottom: 0;
    }
    .select-ul li {
        cursor: pointer;
        border-bottom: 1px solid #fff;
        width: 97px;
        text-indent: 6px;
    }
    .select-ul li:hover{
        background-color: rgb(239, 239, 239);
    }

    .sort-selected>.glyphicon-menu-down {
        font-size: 10px;
    }
    /* action */
    .actions i{
        display: inline-block;
        margin-right: 16px;
        font-size: 16px;
        
    } 
    .status i{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 6px;
    }
    .tooltip{
        min-width: 120px;
        position: absolute;
        background: white;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 6px;
    }
    .tooltip p{
        margin:0;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
    }
    .tip-title{
        cursor:pointer;
        text-decoration: underline;
    }
    .status .rejected{
        background: gray;
    }
    .status .approved{
        background: green;
    }
    .prompt {
        color: rgb(172, 172, 172);
    }
    .table-body{
        position: relative;
    }
    .responsive-thead {
        position: absolute;
        top: 0;
    }

    .fixed-thead,
    .fixed-tbody {
        width: 100%;
    }

    .scroll-thead thead tr th,
    .fixed-thead thead tr th,
    .fixed-tbody thead tr th{
        height: 28px;
        padding-left: 10px;
        padding-right: 10px;        
    }

    .fixed-thead tbody tr td,
    .fixed-tbody tbody tr td {
        height: 28px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .fixed-thead thead tr th {
        color: rgb(208, 208, 208)
    }


    .fixed-tbody>tbody>tr:first-child>td {border-top: 0;}
    .fixed-thead>thead>tr>th+th {border-left: 1px solid black;}
    .no-data {
        text-align: center;
    }
    .title {
        font-size: 28px;
    }
